{% extends 'base.html' %}
{% load crispy_forms_tags %}
 
{% block title %} Read Trains {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br>
<table class="table">
    <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">E</th>
          <th scope="col">W</th>
          <th scope="col">R</th>
          <th scope="col">T</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for train in trains %}
        <tr>
          <th scope="row">{{ train.date|date:"m/d/y" }}</th>
          <td>{{ train.exercise }}</td>
          <td>{{ train.weight }}</td>
          <td>{{ train.repetitions }}</td>
          <td>{{ train.tonnage }}</td>
          <td>

            <div class="btn-group dropleft">
              <button type="button" class="btn btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-pencil-square"></i>
              </button>
              <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <a class="dropdown-item" href="/train/delete/{{ train.id }}">Delete</a>
                <a class="dropdown-item" href="/train/update/{{ train.id }}">Update</a>
              </div>
            </div>

          </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% else %}

<p>Please login to read the trains</p>

{% endif %}

{% endblock %}